body { background-color:lightskyblue; text-align: center;}

h1 {text-align: center; color:blueviolet;}

h2 {text-align: center; color:blueviolet;}

h3 {text-align: center; color: blueviolet;}

p {text-align: center; font-size: 20px;color: darkblue; font-weight: 700;}

label {font-weight:800; font-size: 20px;}